{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="admin-container" autocomplete="off">
        <h1>Adicionar Turma</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Nome:</label>
                {{ form.nome }}
            </div>
            <div class="form-group">
                <label>Curso:</label>
                {{ form.curso }}
            </div>
            <div class="form-group">
                <label>Ano:</label>
                {{ form.ano }}
            </div>
            <div class="form-group">
                <label>Semestre:</label>
                {{ form.semestre }}
            </div>
            <button type="submit">Adicionar Turma</button>
        </form>
    </div>
{% endblock %}