{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Universitário</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <div class="admin-container">
        <h1>Gerenciamento de Cursos</h1>
        <p class="admin-subtitle">Aqui você pode gerenciar os cursos oferecidos pela universidade.</p>

        <div class="admin-grid">
            <a href="{% url 'cursos:gerenciar_cursos' %}">
                <div class="admin-card">
                    <img src="{% static 'core/icons/manage-course.svg' %}" alt="Gerenciar Cursos" class="admin-image">
                    <p>Gerenciar Cursos</p>
                </div>
            </a>
            <a href="{% url 'cursos:gerenciar_disciplinas' %}">
                <div class="admin-card">
                    <img src="{% static 'core/icons/manage-discipline.svg' %}" alt="Gerenciar Disciplinas" class="admin-image">
                    <p>Gerenciar Disciplinas</p>
                </div>
            </a>
            <a href="">
                <div class="admin-card">
                    <img src="{% static 'core/icons/manage-class.svg' %}" alt="Gerenciar Turmas" class="admin-image">
                    <p>Gerenciar Turmas</p>
                </div>
            </a>
        </div>
    <br>
    <a href="{% url 'accounts:admin_home' %}">
        <button>Voltar ao Painel de Administração</button>
    </a>
    </div>
</body>
</html>