{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="admin-container">
        <h1>Informações do Curso</h1>
        <p class="admin-subtitle">Aqui estão as informações detalhadas sobre o curso selecionado.</p>

        <div class="course-info">
            <p><strong>Nome:</strong> {{ curso.nome }}</p>
            <p><strong>Grau:</strong> {{ curso.get_grau_display }}</p>
            <p><strong>Duração (semestres):</strong> {{ curso.qtd_semestres }}</p>
        </div>

    <br>

    <div class="admin-grid">
    <a href="{% url 'cursos:gerenciar_grade_curricular' curso.pk %}">
        <div class="admin-card">
            <img src="{% static 'core/icons/manage-grade.svg' %}" alt="Gerenciar Grade Curricular" class="admin-image">
            <p>Gerenciar Grade</p>
        </div>
    </a>
    <a href="{% url 'cursos:baixar_grade_curricular' curso.pk %}" target="_blank">
        <div class="admin-card">
            <img src="{% static 'core/icons/download.svg' %}" alt="Baixar Grade Curricular" class="admin-image">
            <p>Baixar Grade Curricular</p>
        </div>
    </a>
    </div>
    <br>

    <a href="{% url 'cursos:gerenciar_cursos' %}">
        <button>Voltar ao Gerenciamento de Cursos</button>
    </a>
    </div>
{% endblock %}