{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Universitário</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <div class="admin-container">
        <h1>Olá, {{ user.username }}!</h1>
        <p class="admin-subtitle">Bem-vindo ao painel de administrador.</p>

        <div class="admin-grid">
            <div class="admin-card">
                <img src="{% static 'core/icons/user-management.svg' %}" alt="Gerenciamento de Usuários" class="admin-image">
                <p>Gerenciamento de Usuários</p>
            </div>
            <div class="admin-card">
                <a href="{% url 'cursos:cursos_home' %}">
                    <img src="{% static 'core/icons/course-management.svg' %}" alt="Gerenciamento de Cursos" class="admin-image">
                    <p>Gerenciamento de Cursos</p>
                </a>
            </div>
            <div class="admin-card">
                <img src="{% static 'core/icons/settings.svg' %}" alt="Configurações do Sistema" class="admin-image">
                <p>Configurações do Sistema</p>
            </div>

        
    </div>

    <br>

    <form method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <button type="submit">Sair</button>
    </form>
</body>
</html>